.red-btn {
    height: 45px;
    width: 45px;
    background: rgba(255, 107, 114, 0.1);
    border: 1px solid #ffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red-btn img {
    width: 30px;
    filter: opacity(0.5) drop-shadow(0 0 0 white); 
}
